<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {{- block "title" . -}}
        {{ .Title}}{{ if ne .Title .Site.Title }} | {{ .Site.Title }}{{ end }}
        {{- end -}}
    </title>

    <style>
        {{- (resources.Get "css/style.css" | minify).Content | safeCSS -}}
        {{- (resources.Get "css/syntax.css" | minify).Content | safeCSS -}}
    </style>

    {{- if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{- end -}}

    {{ template "_internal/google_analytics_async.html" . }}

    {{ partial "head_custom" . }}
</head>
